@font-face {
    font-family: 'fff-forward';
    src: url('assets/fff-forward.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: table;
}

#root {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    /*background-color: red;*/
}

.box {
    background-color: rgb(151, 151, 151);
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.react-p5 {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
}

h2 {
    font-family: fff-forward;
}

.myLabel {
    font-weight: bold;
}

hr {
    border: 1px solid black;
}
