html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);
    overflow-y: hidden;
}

.box {
    background-color: rgb(151, 151, 151);
    border: 2px solid black;
    padding: 5px;
}

#joinDiv {
    position: absolute;
    top: 30%;
    left: 45%;
    right: 45%;
    text-align: center;
}

canvas {
    display: block;
}
